@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
border: none;
list-style: none;
font-family:"Dosis",sans-serif;
}
.card1 {
border: 1px s;

}
