* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}
.container {
    text-align: center; /* Tüm içeriği yatay olarak ortalar */
  }
  
  .menu {
    margin-bottom: 20px; /* Başlık ile diğer içerik arasında boşluk bırakır */
  }
  
  .menuLeft, .menuRight {
    display: inline-block;
    vertical-align: top;
    width: 45%; /* Her iki div'e eşit genişlik verir */
    text-align: left;
  }
  
  .menuLeft {
    margin-right: 5%; /* İki div arasında boşluk bırakır */
  }
  
  .menuRight {
    margin-left: 5%;
  }