* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
bo
.container {
border-radius: 2%;
border: 1px solid black;
width: 300px;
justify-content: center;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}