* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center; /* Yatayda ortala */
    align-items: center;     /* Dikeyde ortala */
    background-color: #f0f8ff; /* Arka plan rengi */
}
.container {
border-radius: 2%;
border: 1px solid black;
width: 50%;
justify-content: center;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
bac
}
input {
width: 80%;
padding: 20px;
margin: 20px auto;
}
button {
margin-bottom: 20px;
}